---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <div class="relative flex min-h-dvh flex-col">
    <main class="flex flex-1 flex-col justify-center">
      <Hero />
    </main>
    <Footer />
  </div>
</Base>
